#title {
    padding: 10px;
    color: #464646;
}


body {
    background: burlywood;
}
table {
  width: 90%;
    text-align: center;
}
th, td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}
