{% extends "base.html" %}

{% block title %}
Add Criminal
{% endblock %}
{% block anchor%} {{type}} {%endblock%}

{% block heading %}
<center>
Add Criminal
</center>
{% endblock %}

{% block content %}
<center>
{% if message %}
    {{ message }}
{% endif %}



{% if form %}
<form action="{{url_for('addpage')}}" method="POST" style="padding:5px;" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <!-- Name-->
    {{form.Name.label}}:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    {{form.Name}}<br>
    {% if form.Name.errors %}
        {% for error in form.Name.errors %}
        <b style="color:tomato;"> {{ error }} </b>
        <br>
        {% endfor %}
    {% endif %}<br>
    <!--CaseNO-->
    {{form.caseno.label}}:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    {{form.caseno}}<br>
    {% if form.caseno.errors %}
    {% for error in form.caseno.errors %}
    <b style="color:tomato;"> {{ error }} </b>
    <br>
    {% endfor %}
    {% endif %}<br>
    <!--img-->
    {{form.img.label}}:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    {{form.img}}<br>
    {% if form.img.errors %}
        {% for error in form.img.errors %}
        <b style="color:tomato;"> {{ error }} </b>
        <br>
        {% endfor %}
    {% endif %}
    <br>
    <!--fingerprint-->
    {{form.fingerprintImg.label}}:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    {{form.fingerprintImg}}<br>
    {% if form.fingerprintImg.errors %}
        {% for error in form.fingerprintImg.errors %}
        <b style="color:tomato;"> {{ error }} </b>
        <br>
        {% endfor %}
    {% endif %}
    <br>
    <!--gender-->
    {{form.gender.label}}:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    {{form.gender}}<br>
    <br>
    {% if form.gender.errors %}
        {% for error in form.gender.errors %}
        <b style="color:tomato;"> {{ error }} </b>
        <br>
        {% endfor %}
    {% endif %}
    <!--Address-->
    {{form.address.label}}:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    {{form.address}}<br>
    {% if form.address.errors %}
    {% for error in form.address.errors %}
    <b style="color:tomato;"> {{ error }} </b>
    <br>
    {% endfor %}
    {% endif %}<br>
    <!--Crime-->
    {{form.crime.label}}:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    {{form.crime}}<br>
    <br>
    {% if form.crime.errors %}
        {% for error in form.crime.errors %}
        <b style="color:tomato;"> {{ error }} </b>
        <br>
        {% endfor %}
    {% endif %}
    <!--CrimeLocation-->
    {{form.crimelocation.label}}:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    {{form.crimelocation}}<br>
    {% if form.crimelocation.errors %}
    {% for error in form.crimelocation.errors %}
    <b style="color:tomato;"> {{ error }} </b>
    <br>
    {% endfor %}
    {% endif %}<br>
    <!--Prison Location-->
    {{form.prison.label}}:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    {{form.prison}}<br>
    {% if form.prison.errors %}
    {% for error in form.prison.errors %}
    <b style="color:tomato;"> {{ error }} </b>
    <br>
    {% endfor %}
    {% endif %}<br>
    <!-- Court name-->
    {{form.courtname.label}}:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    {{form.courtname}}<br>
    <br>
    {% if form.courtname.errors %}
        {% for error in form.courtname.errors %}
        <b style="color:tomato;"> {{ error }} </b>
        <br>
        {% endfor %}
    {% endif %}
    <!-- Duty police-->
    {{form.dutypolice.label}}:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    {{form.dutypolice}}<br>
    <br>
    {% if form.dutypolice.errors %}
        {% for error in form.dutypolice.errors %}
        <b style="color:tomato;"> {{ error }} </b>
        <br>
        {% endfor %}
    {% endif %}<br>
    <!--Punishment-->
    {{form.punishment.label}}:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    {{form.punishment}}<br>
    {% if form.punishment.errors %}
    {% for error in form.punishment.errors %}
    <b style="color:tomato;"> {{ error }} </b>
    <br>
    {% endfor %}
    {% endif %}<br>
    <!--Startdate-->
    {{form.startdate.label}}:
    {{form.startdate}}<br>
    {% if form.startdate.errors %}
    {% for error in form.startdate.errors %}
    <b style="color:tomato;"> {{ error }} </b>
    <br>
    {% endfor %}
    {% endif %}<br>
    <!--Enddate-->
    {{form.enddate.label}}:&nbsp;
    {{form.enddate}}<br>
    {% if form.enddate.errors %}
    {% for error in form.enddate.errors %}
    <b style="color:tomato;"> {{ error }} </b>
    <br>
    {% endfor %}
    {% endif %}<br>
     <!-- Hidden CSRF Token Field -->
    {{ form.csrf_token }}
     <!-- Submit Field -->
    {{ form.submit }}
</form>
{% endif %}
{% endblock %}
</center>