{% extends "base.html" %}

{% block title %} {{criminal.Name}}'s Details {% endblock %}
{% block anchor%} {{type}} {%endblock%}

{% block content %}
    <div style="float:left; border-style:double;">
<!--        <img src= "{{url_for('static', filename = criminal["photo"]|string+".jpg")}}" height="350" >-->
            <img src= "{{url_for('static', filename = criminal.photo)}}" height="350" >
            <button style="background-color:tomato" onclick="location.href='{{ url_for('delete_criminal', criminal_id = criminal.id)}}'"> Delete Criminal </button>

    </div>
    <div style="float:left; margin:10px;">
        <h1 class="title">{{ criminal.Name }}</h1>
        <h1 class="title">Case No:{{ criminal.caseno }}</h1>
        <p style="color : red "><b>Crime: &nbsp;</b>{{criminal.crime}}</p>
        <p><b>Address: &nbsp;</b> {{criminal.address}}</p>
        <p><b>Gender: &nbsp;</b> {{criminal.gender}}</p>
        <p><b>Crime Location: &nbsp;</b> {{criminal.crimelocation}}</p>
        <p><b>Prison Location: &nbsp;</b> {{criminal.prison}}</p>
        <p><b>Court Name: &nbsp;</b> {{criminal.courtname}}</p>
        <p><b>Duty Police: &nbsp;</b> {{criminal.dutypolice}}</p>
        <p><b>Punishment: &nbsp;</b> {{criminal.punishment}}</p>
        <p><b>Start Date of Punishment: &nbsp;</b> {{criminal.startdate}}</p>
        <p><b>End Date of Punishment: &nbsp;</b> {{criminal.enddate}}</p>
        <hr>

        <h2  style="float:left; margin:10px;"> Edit Criminal </h2><br>
        <!-- Error Message  -->
        {% if message %}
            <span style="background-color:tomato">
            {{ message }}
            </span>
            <br>
        {% endif %}
                 <!--  -->
        <!-- Form for Editing the Criminal -->
        <form action="{{url_for('criminal_details', criminal_id = criminal.id)}}" method="POST" style="padding:5px;" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <br><br>
            {{ form.Name.label }}: <br>
            {{ form.Name(value = criminal.Name) }}
            <br><br>
            {{ form.caseno.label }}: <br>
            {{ form.caseno(value=criminal.caseno)}}
            <br><br>
             {{ form.img.label }}: <br>
            {{ form.img(value=criminal.img)}}
            <br><br>
            {{ form.gender.label }}: <br>
            {{ form.gender(value = criminal.gender) }}
            <br><br>
            {{ form.address.label }}: <br>
            {{ form.address(value = criminal.address) }}
            <br><br>
            {{ form.crime.label }}: <br>
            {{ form.crime(value = criminal.crime) }}
            <br><br>
            {{ form.crimelocation.label }}: <br>
            {{ form.crimelocation(value = criminal.crimelocation) }}
            <br><br>
            {{ form.prison.label }}: <br>
            {{ form.prison(value = criminal.prison) }}
            <br><br>
            {{ form.courtname.label }}: <br>
            {{ form.courtname(value = criminal.courtname) }}
            <br><br>
            {{ form.dutypolice.label }}: <br>
            {{ form.dutypolice(value = criminal.dutypolice) }}
            <br><br>
            {{ form.punishment.label }}: <br>
            {{ form.punishment(value = criminal.punishment) }}
            <br><br>
            {{ form.startdate.label }}: <br>
            {{ form.startdate(value = criminal.startdate) }}
            <br><br>
            {{ form.enddate.label }}: <br>
            {{ form.enddate(value = criminal.enddate) }}
            <br><br>
            {{ form.csrf_token }}
            {{ form.submit }}
        </form>
    </div>
    <div style="float:center;">
        <img src= "{{url_for('static', filename = "fingerprint/"+criminal.fingerprint)}}" height="200" >
    </div>
{% endblock %}