
{% extends "base.html" %}

{% block title %} Home {% endblock %}
{% block anchor%} {{type}} {%endblock%}
{% block heading %}
<center>All Criminal's Information</center>
{% endblock %}

{% block content%}
  <table>
    <tr>
      <th>Image</th>
        <th>Criminal's Name</th>
        <th>Crime</th>
        <th>Punishment</th>
        <th>Prison Location</th>
    </tr>
    {% for criminal in criminals %}
    <tr>
        <td >
            <a href="{{url_for('criminal_details', criminal_id = criminal.id)}}">
                <img src= "{{url_for('static', filename = criminal.photo)}}" height="100" >
            </a>
        </td>
        <td>{{criminal.Name}}</td>
        <td style="color:red">{{criminal.crime}}</td>
        <td>{{criminal.punishment}}</td>
        <td>{{criminal.prison}}</td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}