{% extends "base.html" %}

{% block title %}
Login
{% endblock %}

{% block heading %}
<center>
Login
</center>
{% endblock %}

{% block content %}
<center>
{% if message %}
    {{ message }}
{% endif %}

{% if form %}

<form action="{{url_for('login')}}" method="POST" style="padding:5px;">
    {{ form.admin.label }}:
    {{ form.admin }}<br><br>
    {{ form.password.label }}:
    {{ form.password }}<br><br>
    {{ form.csrf_token }}
    <br><br>
    {{ form.submit }}
</form>
{% endif %}
</center>
{% endblock %}